{



}
.cabecalho{
    backgrond-color: #424E61;
color: white;
display: flex;
justify-content: space-around;
align-items: center; 
padding: 24px;
 
cabecalho-imagem{
    .CABECALHO-IMAGEM
  width: 20%;


.Cabecalho-listra-listra
display: inset-block;
margin: 0 16px;
font-size: 24px;
